.about-page{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    color: rgb(152, 152, 152);
}
.about-div-website{
    min-height: 60vh;
    border-bottom: 2px solid;
    margin-top: 60px;
    width: 100%;
}
.about-greenearth{
    margin-top: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.about-greenearth img{
    margin-right: 20px;
    filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.429));
}

.about-greenearth p{
    font-size: 20px;
}
.about-greenearth img {
    height: 90%;
    width: 60%;
    border-radius: 10px;
}
.objectives{
    min-height: fit-content;   
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.objective-cards{
    
    margin-top: 10px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.objective-card{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: rgba(95, 95, 95, 0.461);
    flex-basis: 25%;
}
.objective-card h2{
    font-size: 30px;
    margin: 10px 0;
}
.objective-card p{
    font-size: 20px;
}

.aboutus-team {
    border-top: 2px solid;
    min-height: 70vh;

}
.members-team{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.teamCard-1{
    height: fit-content;
    padding: 10px;

}
.team-member-img{
    height: 40vh;
}
.team-member-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.11));
}
.team-member-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team-member-details span{
    display: flex;
    color: rgb(154, 154, 154);
}
.team-member-details span p{
    font-weight: 600;
}

.about-slider-container::-webkit-scrollbar{
    height: 8px;
}
.about-slider-container::-webkit-scrollbar-track{
    background: #f1f1f1f1;
    border-radius: 25px;
}
.about-slider-container::-webkit-scrollbar-thumb{
    background: #722DF9;
    border-radius: 25px;
}
.about-slider-container::-webkit-scrollbar-thumb:hover{
    background: #000000ce;
}
.about-slider-container{
    display: flex;
    max-width: 60%;
    min-height: 70vh;
    background: #8e8e8e3d;
    border-radius: 12px;
    padding: 30px 20px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    gap: 12px;
}
.about-slider-container .about-card{
    flex: 0  0 100%;
    border-radius: 12px;
    padding:30px;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}
.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #e5e5e5;
    text-align: center;
    background-color: #6f6f6f;
}
.about-span-card-member{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 23%;
    width: 100%;
}
@media (max-width : 810px){
    .about-greenearth{
        flex-direction: column;
    }
    .about-greenearth img{
        height: 300px;
        width: 300px;
    }
    .objective-cards{
        display: none;
    }
    .objectives{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .members-team{
        flex-direction: column;
        height: fit-content;
    }
    .about-page{
        height: fit-content;
    }
    .aboutus-team {
        height: fit-content;
    }
    

}
@media (min-width : 809px){
    .about-slider-container{
        display: none;
    }
}