.bucket-main {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-y: auto;
}
.bucket-main::-webkit-scrollbar{
    width: 0;
}
.bucketPage{
    height: 100%;
    width: 50%;
    color: azure;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    /* background-color: red; */
    overflow-y: auto;

}
.bucketPage::-webkit-scrollbar {
    width: 3;
  }
.bucketItemContainer{
    background-color: #353434b4;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    align-items: center;

}
.bucketItemImg{
    height: 30%;
    width: 100%;
    object-fit: cover;

}
.titile-dis-div{
    width: 80vw;
    cursor: pointer;
}
.inc-dec-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    font-size: 20px;
}
.deleteItem{
    background-color: rgb(234, 54, 54);
    border: none;
    color: azure;
    padding: 2px 5px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;
}
.totalPriceDiv{
    margin-top: 20px;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 5vh;
    width:fit-content;
    color: azure;
    font-size: 20px;
    justify-content: space-evenly;
}
.order-btn{
    background-color: rgb(234, 54, 54);
    border: none;
    color: azure;
    padding: 2px 5px;
    border-radius: 2px;
    cursor: pointer;
    padding: 3px 10px;
    font-weight: 700;
}
.address-div{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: azure;
    gap: 5px;
}
.inp {
    padding: 15px;
    border-radius:5px;
    font-size: 15px;
    background-color: #514e4e;
    color: azure;
}
.pay-btn{
    padding:10px 25px;
    background-color: rgb(234, 54, 54);
    border: none;
    color: azure;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
}
.pay-btn:hover {
    background-color: black;

}