.contactPage{
    height: fit-content;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.contactPage h1{
    font-size: 50px;
    margin: 20px;
}
.contactPage p{
    font-size: 25px;
    margin-bottom: 20px;
}

.ContactContainer{
    display: flex;
    width: 80%;
    height: fit-content;
    border-radius: 100px 0 0 20px;
}
.contact-left{
    height: fit-content;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px 0px 0 100px;
    padding: 40px 0;
    color: black;
}
.contact-left h3{
    font-size: 50px;
    color: black;
}
.contact-left p{
    font-size: 18px;
    padding: 10px;
}
.contact-input-fields{
    padding: 10px;
    width: 70%;
}
.contact-input-fields input{
    width: 84%;
    height: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}
.contact-input-fields textarea {
    resize: none;
    height: 180px;
    width: 90%;
    margin-bottom: 20px;
}
.contact-input-fields button{
    width: 90%;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: #1d1c1c;
    color: azure;
    cursor: pointer;
    border-radius: 10px;
}
.contact-right{
    background-color: rgba(36, 36, 36, 0.967);
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.contact-right h3{
    font-size: 45px;
    color: rgba(187, 187, 187, 0.873);
    right: 20%;
}
.contact-right h4 {
    color: rgba(255, 255, 150, 0.694);
    text-decoration: underline;
}
.contact-right p{
    color: #afafaf;
}
.contact-link-tag{
    color: #3f3f3f;
    text-decoration: none;
}
.link-tag {
    text-decoration: none;
}

@media (min-width : 0px) and (max-width: 866px) {
    .ContactContainer{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .contact-left{
        width: 90%;
        border-radius: 0 0 0 0;
    }
    .contact-input-fields
    {
        width: 95%;
    }
    .contact-input-fields textarea {
        width: 88%;
        height: 250px;
    }
    .contact-right{
        height: 100%;
    }
}