.getMembership-page{
    min-height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.all-membership-div{
    height: fit-content;
}
.all-membership-div table th {
    font-size: 30px;
    background-color: #f66642b6;
    color: black;
}
.all-membership-div table td {
    font-size: 20px;
    text-align: center;
}
.all-membership-div table td button {
    padding: 10px 20px;
    background-color: rgba(12, 234, 12, 0.746);
    border: none;
    border-radius:5px;
    cursor: pointer;
    font-weight: 600;
}

.all-membership-div table td button:hover{
    background-color: black;
    color: azure;
}



.main-new-div{
    display: none;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.member-h1{
    position: absolute;
    top: 10px;
    color: #d6d6d6;
}
.slider-container::-webkit-scrollbar{
    height: 8px;
}
.slider-container::-webkit-scrollbar-track{
    background: #f1f1f1f1;
    border-radius: 25px;
}
.slider-container::-webkit-scrollbar-thumb{
    background: #722DF9;
    border-radius: 25px;
}
.slider-container::-webkit-scrollbar-thumb:hover{
    background: #000000ce;
}
.slider-container{
    display: flex;
    max-width: 60%;
    min-height: 70vh;
    background: #8e8e8e3d;
    border-radius: 12px;
    padding: 30px 20px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    gap: 12px;
}
.slider-container .card{
    flex: 0  0 100%;
    border-radius: 12px;
    padding:30px;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #e5e5e5;
    text-align: center;
    background-color: #6f6f6f;
}
.span-card-member{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 23%;
    width: 100%;
    border-bottom: 2px solid black;
}
.card button{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}
@media (max-width : 810px){
    .getMembership-page{
        display: none;
    }
}
@media (min-width : 809px){
    .slider-container{
        display: none;
    }
}