.home{
    position: relative;
    min-height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.tree-not-found{
    position: absolute;
    top: 40%;
    font-size: 40px;
    color: azure;

}
.error{
    position: absolute;
    top: 50%;
    left: 33%;
    font-size: 40px;
}
.search-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    /* background-color: #fff; */
}
.cetageory{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: azure;
    gap: 5px;
}
.cetageory input {
    margin-right: 20px;
    height: 50px;
    width: 30px;
}
.card-div{
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.loadmoreBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}
.prevNext{
    padding: 5px 40px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: rgba(129, 129, 129, 0.729);
    border-radius: 5px;
    color: azure;
}
.prevNext:hover{
    background-color: black;
}
.preNextDanger{
    padding: 5px 40px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: rgba(255, 21, 21, 0.638);
    border-radius: 5px;
    color: azure;

}


@media (min-width : 0px) and (max-width : 431px) {
    .search-div{
      flex-direction: column;
    }
    .cetageory input{
        width: 25px;
    }
    .preNextDanger{
        font-size: 18px;
    }
    .tree-not-found{
        font-size: 25px;
        font-weight: 600;
        color: red;
    }
  }