
.home{
    position: relative;
    min-height: 95vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.loading{
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 40px;
    color: azure;
}
.tree-not-found{
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 40px;
    color: azure;

}
.error{
    position: absolute;
    top: 50%;
    left: 33%;
    font-size: 40px;
}
.search-div{
    width: fit-content;
    gap: 20px;
    display: flex;
    justify-content: space-around;
    height: 10vh;
}
.cetageory{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: azure;
}
.cetageory input {
    margin: 5px;
    height: 50px;
    width: 30px;
}
.card-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.loadmoreBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}
.prevNext{
    padding: 5px 40px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: rgba(129, 129, 129, 0.729);
    border-radius: 5px;
    color: azure;
}
.prevNext:hover{
    background-color: black;
}
.preNextDanger{
    padding: 5px 40px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: rgba(255, 21, 21, 0.638);
    border-radius: 5px;
    color: azure;

}