.link-div{
  text-decoration: none;
}
nav.sticky {
position: fixed;
top: 0;
z-index: 1000;
width: 100vw;
background-color: rgba(0, 0, 0, 0.792); 
backdrop-filter: blur;
font-weight: 700;
box-shadow: 0px 2px 5px rgba(152, 152, 152, 0.742); 
  
}


nav{
  height: 5vh;
  min-width: 100vw;
  background-color: #722DF9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  box-shadow: 0px 2px 5px rgba(152, 152, 152, 0.742); 
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.logo{
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  height: 30px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

nav ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav ul li {
  color: azure;
  text-decoration: none;
  
}
nav ul li:hover {
  text-decoration: underline;
}
  

.navBar-btns{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}
.login-btn{
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
.bucket-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: fit-content;
  cursor: pointer;
  border: none;
  font-size: 100%;
  background: none;
  color: aliceblue;
}
.bucket{
  font-size: 35px;
}
.bucket-btn span{
  position: absolute;
  font-size: 12px;
  width: 10px;
  height: 15px;
  top: 0;
  right:0;
  background-color: rgb(238, 108, 77);
  padding: 2px 5px;
  border-radius: 50%;
  color: azure;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.userIcon{
  color: azure;
  font-size:33px;
}
.dropdown {
  height: 100%;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  float:right
}

.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  height: 150px;
  width: 20px;
  display: none;
  position: absolute;
  right: 0;
  background-color: #f3eeeeef;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(201, 194, 194, 0.407);
  z-index: 1;
}

.linksTag-dropDown {
  padding: 12px 16px;
  text-decoration: none;
  color: azure;
  cursor: pointer;
}
.linksTag-dropDown:hover {
  border-radius: 5px;
  background-color: #000000ef;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #252525ee;
  border-radius: 5px;
}

.side-baar-button{
color: azure;
font-size: 40px;
border: none;
background:none;
cursor: pointer;
margin-top: 10px;

}

.off-side-bar-div{
width: 100%;
height: 95vh;
z-index: 10;
position: fixed;
background-color: rgb(17, 17, 17);
top: 5vh;
right: 0;
right: -100%;
transition: all ease 0.5s;
box-shadow: 30px 0 20px rgba(0, 0, 0, 0.791);
}
.open-side-bar-div{
width: 100%;
height: 95vh;
z-index: 10;
position: fixed;
background-color: rgba(17, 17, 17, 0.77);
top: 5vh;
right: 0;
transition: all ease 1s;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.791);
}
.inner-side-bar-div{
position: absolute;
right: 0;
background-color: rgb(17, 17, 17);
width: 200px;
display: flex;
flex-direction: column;
height: 100%;
align-items: center;
justify-content: space-around;
font-size: 30px;
color: azure;
}
.inner-side-bar-div p {
list-style: none;
color: azure;
}

/* Responsive */

@media only screen and (max-width: 900px) {
nav ul {
  display: none;
}
}

@media screen and (min-width: 901px){
.side-baar-button{
  display: none;
}
}


@media (min-width : 0px) and (max-width: 431px) {
  .navBar-btns{
    gap: 10px;
    width: 45%;
  }
  .userIcon {
    margin-top: 5px;
    font-size: 35px;
  }
  .inner-side-bar-div{
    font-size: 15px;
    font-size: 20px;
    height: 90%;
    border-radius: 10px;
  }
}

@media (min-width : 0px) and (max-width: 376px) {
  .userIcon {
    margin-top: 0px;
    font-size: 35px;
  }

}