.link-div{
    text-decoration: none;
}
/* navBar.css */
nav {
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add any additional properties you want to transition */
  }
  
  nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(0, 21, 36); /* Change to your desired background color */
    box-shadow: 0px 2px 5px rgb(0, 21, 36); /* Change to your desired box shadow */
    /* Add any additional styles you need for the sticky state */
  }
  
  
nav{
    height: 5vh;
    width: 100%;
    background-color: rgb(0, 21, 36);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 30px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

nav ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    list-style: none;
}
nav ul li {
    color: azure;
    text-decoration: none;
    
}
nav ul li:hover {
    text-decoration: underline;
}
    

.navBar-btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
    width: 20%;
}
.navBar-btns .login-btn {
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    font-size: larger;
    font-weight: 600;
    background-color:azure;
}
.login-btn:hover{
    transition:500ms;
    box-shadow: azure 0px 0px 20px 1px;
}
.navBar-btns .bucket-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5vh;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    border-radius:2px;
    background-color: transparent;
    color: aliceblue;
}
.bucket-btn span{
    position: absolute;
    font-size: 5px;
    top: 0;
    right:0;
    background-color: rgb(238, 108, 77);
    padding: 2px 5px;
    border-radius: 50%;
    color: azure;
}

.userName{
    color: azure;
    font-size: 20px;
}
.logout-btn {
    padding: 5px 5px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    font-size: larger;
    font-weight: 600;
    background-color:azure;
}
.logout-btn:hover{
    transition:500ms;
    box-shadow: azure 0px 0px 20px 1px;
}