.link-div{
    text-decoration: none;
}
/* navBar.css */
nav {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.792); 
    backdrop-filter: blur;
    font-weight: 700;
    box-shadow: 0px 2px 5px rgba(152, 152, 152, 0.742); 
    
  }
  
  
nav{
    height: 5vh;
    width: 100%;
    background-color: #722DF9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 30px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

nav ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    list-style: none;
}
nav ul li {
    color: azure;
    text-decoration: none;
    
}
nav ul li:hover {
    text-decoration: underline;
}
    

.navBar-btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
    width: 20%;
}
.login-btn {
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    font-size: larger;
    font-weight: 600;
    background-color:rgb(147, 163, 163);
}
.login-btn:hover{
    transition:500ms;
    box-shadow: azure 0px 0px 20px 1px;
}
.navBar-btns .bucket-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5vh;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    border-radius:2px;
    background-color: transparent;
    color: aliceblue;
}
.bucket-btn span{
    position: absolute;
    font-size: 5px;
    top: 0;
    right:0;
    background-color: rgb(238, 108, 77);
    padding: 2px 5px;
    border-radius: 50%;
    color: azure;
}

.userIcon{
    position: absolute;
    top: 2px;
    color: azure;
    font-size:30px;
}
  .dropdown {
    height: 100%;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    float:right
  }

  .dropbtn {
    background-color: #ffffff00;
    padding: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    height: 150px;
    width: 20px;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f3eeeeef;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(201, 194, 194, 0.407);
    z-index: 1;
  }
  
  .linksTag-dropDown {
    padding: 12px 16px;
    text-decoration: none;
    color: azure;
    cursor: pointer;
  }
  .linksTag-dropDown:hover {
    border-radius: 5px;
    background-color: #000000ef;
  }
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #252525ee;
    border-radius: 5px;
}
