/* orderList.css */
.orderList-page{
  min-height: 100vh;
  padding: 5px;
}
.order-page-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
  }
  
  .order-page-table th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .cancel-order-order-list button{
    background-color: #ff5757;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
.cancel-order-order-list:hover button{
    background-color: #e43b3b;
  }
  