.Orderdiv {
display: flex;
}
.itemDetails{
    display: flex;
    gap: 20px;
}
.address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.amtDiv{
    display: flex;
    gap: 20px;
}