.orderList-page{
  min-height: 100vh;
  text-align: center;
}

.order-page-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
.order-page-table thead{
  border: 1px solid #ddd;
  text-align: left;
}
.cancel-order-order-list button{
  width: 100%;
  border: none;
  font-weight: 600;
  padding: auto;
  color: azure;
  border-radius: 10px;
  background-color: red;
}
.zero-orders{
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 30px;
}
.zero-orders span{
  color: #e43b3b;
}

@media (min-width: 320px) {
  .cancel-order-order-list button{
    font-size: 20px;
    padding: 0 20px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .cancel-order-order-list button{
    font-size: 25px;
    padding: 0 20px;
    width: 100%;
  }
  .order-page-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 25px;
  }
}
@media (min-width: 1024px) {
  .cancel-order-order-list button{
    font-size: 35px;
    padding: 10px 20px;
    width: 100%;
  }
  .order-page-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 35px;
  }
}
@media (min-width: 2560px) {
  .cancel-order-order-list button{
    font-size: 75px;
    height: 200px;
    padding: 0 70px;
    width: 70%;
  }
  .order-page-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 66px;
  }
}