.plant-page-main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:center;
}
.plant-tree-details{
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plant-tree-details img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
}
.form-container {
    width: 70%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
.form-group input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
  }
  
  .form-group button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
.form-group button:hover {
    background-color: #45a049;
  }
  
  @media (min-width : 0px)  and (max-width: 455px) {
    .form-group input{
      font-size: 15px;
    }
    .form-container{
      width: 90%;
    }

  }