.profile-page{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-div{
    position: relative;
    height: 70vh;
    width: 70%;
    text-align: center;
    background-color: rgb(48, 48, 48);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(28, 27, 27, 0.546) 0px 0px 100px;
}

.profile-img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.edit-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background:none;
    border: none;
    font-size: 20px;
    color: azure;
    cursor: pointer;
}
.user-profile-details {
    height: 70%;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.user-profile-details span{
    color: #bfbfbf;
    display: flex;
    height: 14%;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-top: 1px solid #000;
}
.user-profile-details span h3{
    margin-left: 10px;
    color: #afafaf;
    text-decoration: underline;
}