.profile-page{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-div{
    position: relative;
    height: 70vh;
    width: 30%;
    text-align: center;
    background-color: rgb(48, 48, 48);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(28, 27, 27, 0.546) 0px 0px 100px;
}

.profile-img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.edit-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background:none;
    border: none;
    font-size: 20px;
    color: azure;
    cursor: pointer;
}