.container {
    display: flex;
    max-width: 500px;
  }
  
  .input {
    width: 100%;
    height: 40%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }