.main-card{
    background-color: rgb(58, 59, 64);
    height: 30vh;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px;
    box-shadow: 0 0 10px rgba(26, 25, 25, 0.8); 
    border-radius: 5px;
}

.box-card{
    height: 90%;
    width: 90%;
    text-align: center;
    color: azure;

}
.img-div{
    height: 70%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.box-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition:400ms;
}
.box-card img:hover{
    transform:scale(1.08);
}
.cardBtns{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}
.plantBtn {
    background-color: rgb(234, 54, 54);
    border: none;
    color: azure;
    padding: 2px 5px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;
}
.plantBtn:hover{
    transform:scale(1.10);
    background-color:lightcoral;
    cursor: pointer;

}
.bucketBtn {
    background-color: rgb(234, 54, 54);
    border: none;
    color: azure;
    padding: 2px 5px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;
}
.bucketBtn:hover{
    transform: scale(1.10);
    background-color: lightcoral;
    cursor: pointer;
}



