*{
  padding:0;
  margin: 0;
}
body{
  height: 100vh;
  width: 100vw;
  background-color: #1B1B1D;
  color: azure;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0;
}

body h1, h2, h3 {
  color: azure;
}
.mobile-container{
  width: 100%;
  position: absolute;
  font-size: 70px;
  top: 50%;
  text-align: center;
}