/* UserList.css */

.user-list-container {
  min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #dfd5d5;
    padding: 10px;
    text-align: center;

  }
  
  th {
    background-color: #1a1818;
  }
  
  .even-row {
    background-color: #3d3c3c;
  }
  
  .odd-row {
    background-color: #0a0909;
  }
  
  .delete-button {
    background-color: #ff6464;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 700;
  }
.admin-users-action-btns button{
  margin: 0 5px;
}

.delete-button-make{
  background-color: #00ec4fe0;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
  font-weight: 700;
}